body {
    background-color: rgb(0, 153, 255);
}

h1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-style: italic;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: aqua;
    padding: 50px;
}

.calcolatrice {
    margin-top: 50px;
    background-color: aqua;
    text-align: center;
}

#display {
    width: 460px;
    height: 100px;
    border-radius: 15px;
    margin-bottom: 10px;
}

input {
    width: 100px;
    height: 80px;
    font-weight: bolder;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    border-radius: 10px;
    margin: 15px;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(6, 153, 153);
}

h2 {
    text-align: center;
    font-size: xx-large;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


footer {
    background-color: aqua;
    padding: 60px;
}